<?xml version="1.0" encoding="UTF-8"?>
<config>
    <germany>		
		<team>bayer_leverkusen</team>
		<team>borussia_dortmund</team>
        <team>borussia_monchengladbach</team>
        <team>eintracht_frankfurt</team>
        <team>fc_augsburg</team>
        <team>fc_bayern_munchen</team>
        <team>fc_koln</team>
		<team>fc_schalke_04</team>
        <team>fsv_mainz_05</team>
        <team>hamburger_sv</team>
        <team>hannover_96</team>
        <team>hertha_bsc</team>
        <team>sc_freiburg</team>
        <team>sc_paderborn</team>
        <team>tsg_1899_hoffenheim</team>
        <team>vfb_stuttgart</team>
        <team>vfl_wolfsburg</team>
        <team>werder_bremen</team>
		<team>1_fc_kaiserslautern</team>
		<team>1860_munchen</team>
		<team>braunschweig</team>
		<team>erzgebirge_aue</team>
		<team>fc_ingolstadt_04</team>
		<team>fortuna_dusseldorf</team>
		<team>fsv_frankfurt</team>
		<team>greuther_furth</team>
		<team>heidenheim</team>
		<team>karlsruher_sc</team>
		<team>nurnberg</team>
		<team>rb_leipzig</team>
		<team>st_pauli</team>
		<team>sv_darmstadt</team>
		<team>sv_sandhausen</team>
		<team>union_berlin</team>
		<team>vfl_bochum</team>
		<team>vfr_aalen</team>
    </germany>
    <england>
        <team>arsenal_fc</team>
		<team>aston_villa</team>
		<team>burnley_fc</team>
		<team>chelsea_fc</team>
		<team>crystal_palace_fc</team>
		<team>everton</team>
		<team>hull_city</team>
		<team>leicester_city</team>
		<team>liverpool_fc</team>
		<team>man_city</team>
		<team>man_utd</team>
		<team>newcastle_united</team>
		<team>queens_park_rangers</team>
		<team>southampton_fc</team>
		<team>stoke_city</team>
		<team>sunderland</team>
		<team>swansea_city</team>
		<team>tottenham_hotspur</team>
		<team>west_bromwich_albion</team>
		<team>west_ham_utd</team>
		<team>birmingham_city</team>
		<team>blackburn</team>
		<team>blackpool</team>
		<team>bolton_wanderers</team>
		<team>bournemouth</team>
		<team>brentford</team>
		<team>brighton_and_hove_albion</team>
		<team>cardiff_city</team>
		<team>charlton</team>
		<team>derby_county</team>
		<team>fulham_fc</team>
		<team>huddersfield_town</team>
		<team>ipswich_town</team>
		<team>leeds_united</team>
		<team>middlesbrough</team>
		<team>millwall</team>
		<team>norwich_city</team>
		<team>nottingham_forest</team>
		<team>notts_county</team>
		<team>reading</team>
		<team>rotherham_united</team>
		<team>sheffield_united</team>
		<team>sheffield_wednesday</team>
		<team>watford</team>
		<team>wigan_athletic</team>
		<team>wolverhampton</team>
    </england>
	<spain>
		<team>albacete</team>
		<team>alcorcon</team>
		<team>athletic_bilbao</team>
		<team>atletico_madrid</team>
		<team>ce_sabadell</team>
		<team>celta_vigo</team>
		<team>cordoba</team>
		<team>deportivo_alaves</team>
		<team>deportivo_la_coruna</team>
		<team>eibar</team>
		<team>elche</team>
		<team>espanyol</team>
		<team>fc_barcelona</team>
		<team>getafe</team>
		<team>girona_fc</team>
		<team>granada</team>
		<team>las_palmas</team>
		<team>leganes</team>
		<team>levante</team>
		<team>llagostera</team>
		<team>lugo</team>
		<team>malaga</team>
		<team>mallorca</team>
		<team>mirandes</team>
		<team>numancia</team>
		<team>osasuna</team>
		<team>ponferradina</team>
		<team>racing_santander</team>
		<team>rayo_vallecano</team>
		<team>real_betis</team>
		<team>real_madrid</team>
		<team>real_sociedad</team>
		<team>recreativo</team>
		<team>sevilla_fc</team>
		<team>sporting_gijon</team>
		<team>tenerife</team>
		<team>ud_almeira</team>
		<team>valencia</team>
		<team>valladolid</team>
		<team>villareal</team>
		<team>zaragoza</team>
	</spain>
	<italy>
		<team>ac_cesena</team>
		<team>ac_fiorentina</team>
		<team>ac_milan</team>
		<team>ac_perugia</team>
		<team>as_cittadella</team>
		<team>as_roma</team>
		<team>atalanta</team>
		<team>avellino</team>
		<team>bologna_fc</team>
		<team>brescia</team>
		<team>cagliari</team>
		<team>carpi_fc</team>
		<team>catania</team>
		<team>chievo_verona</team>
		<team>empoli_fc</team>
		<team>entella</team>
		<team>fc_bari</team>
		<team>fc_crotone</team>
		<team>fc_modena</team>
		<team>frosinone</team>
		<team>genoa_fc</team>
		<team>hellas_verona</team>
		<team>internazionale</team>
		<team>juventus</team>
		<team>livorno</team>
		<team>napoli</team>
		<team>palermo</team>
		<team>parma_fc</team>
		<team>pescara_calcio</team>
		<team>pro_vercelli</team>
		<team>sampdoria</team>
		<team>spezia</team>
		<team>ss_lazio</team>
		<team>ternana</team>
		<team>torino_fc</team>
		<team>trapani_calcio</team>
		<team>udinese</team>
		<team>us_latina</team>
		<team>us_sassuolo</team>
		<team>varese</team>
		<team>vicenza</team>
		<team>virtus_lanciano</team>
	</italy>
</config>
